/*===============*/
/* GENERAL RULES */
body { padding-top: 70px; font-size: 16px;}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}

a {
  color: #1abc9c;
}

a.ms_anchor {
  color:inherit;
  text-decoration: none;
}

p {
  font-size: 18px;
}

input,
textarea {
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
  font-size: 1.5em;
  color: #2c3e50;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
  font-size: 25px;
}

.ms_wrapper-70 {
  width: 70%;
  margin: 10px auto;
}

/*==========*/
/* SECTIONS */
.ms_section {
  padding: 50px 0;
}

.ms_primary {
  color: #fff;
  background-color: #1abc9c;
}

.ms_secondary {
  color: #333;
  background-color: #fff;;
}

/*===================*/
/* BEGIN COMPONMEMTS */

/* header navbar */
.ms_navbar {
  background-color: #2c3e50;
  line-height: 70px;
  color: #fff;
}

.ms_navbar a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.ms_company-name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
}

.ms_menu ul {
  list-style: none;
  margin: 0;
}

.ms_menu ul>li {
  display: inline-block;
  margin-left: 10px;
}

.ms_burger-menu {
  display: inline;
  padding: 5px 10px;
  border: 1px solid #fff;
  color: #ccc;
  border-radius: 4px;
}

/* teaser */
.ms_teaser img.ms_avatar{
  height: 200px;
}

.ms_teaser h1 {
  margin: 10px auto;
  font-size: 2.2em;
  font-weight: 600;
}

.ms_teaser .ms_specialities {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

/* intro */
.ms_intro  {
  margin-bottom: 10px;
}

/* begin divider */
.divider {
  width: max-content;
  margin: 0 auto;
}

.divider i {
  margin: 15px;
  font-size: 2.1em;
}

.divider::before,
.divider::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 4px;
  background-color: #fff;
  position: relative;
  top: -9px;
  border-radius: 4px;
}

.ms_secondary .divider i {
  color: #2c3e50;
}

.ms_secondary .divider::before,
.ms_secondary .divider::after {
  background-color: #2c3e50;
}
/* End divider */

.ms_box {
  margin-bottom: 15px;
}

.ms_box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/* END COMPONMEMTS */
/*=================*/

.ms_download-btn {
  color: #fff;
  font-size: 1.1em;
  padding: 8px 15px;
  background-color: Transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.ms_form-btn {
  margin: 10px 0;
  background-color: #1abc9c;
  border: none;
  padding: 10px 15px;
  font-size: 22px;
}

/*========*/
/* FOOTER */
footer {
  color: #fff;
  background-color: #3a546d;
  text-align: center;
}

footer a {
  color: #1abc9c;
}

.ms_footer-section {
  padding: 40px 0;
}

.ms_copyright {
  background-color: #2c3e50;
}



.ms_footer-section  a.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
}

.ms_footer-section .social:last-child {
  margin-right: 0;
}
/*=============*/
/* MEDIA QUERY */
@media screen and (min-width:768px) {

  .ms_top-footer a.social {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    margin-right: 6px;
  }

}
